name: CI

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Build
        run: make build

      - name: Vet
        run: make vet

      - name: Lint
        uses: golangci/golangci-lint-action@v7

      - name: Test
        run: make test
